<ion-side-menus enable-menu-with-back-views="false">
  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-eland">
      <ion-nav-back-button class="button-clear">
          <i class="icon ion-ios-arrow-left"></i>Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>
  <ion-side-menu side="left">
    <div class="bar-menuheader side-header">
      <div class="overlay">
        <img src="img/ben.png" class="avatar" alt="" ui-sref="app.playlists" menu-close>
        <div class="side-setting text-right">
          <i class="icon ion-gear-a" style="font-size:25px;" ng-click="showSettings()"></i>
        </div>
        <div class="side-caption">
          <b>{{userInfo.name}}</b>
          <br>
          {{userInfo.email}}
        </div>
      </div>
    </div>
    <ion-content class="has-menuheader" mouse-wheel-scroll>
      <ion-list>
        <menu-tree menus="menus" title="Categories" menu-state="app.playlists"></menu-tree>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>